
.vs/Proyecto-Komalli-Codigo-Fuente/FileContentIndex/c5366857-862f-438c-8505-8352e7de474b.vsidx
.vs/Proyecto-Komalli-Codigo-Fuente/FileContentIndex/f02096ca-02a7-44ff-bc62-4578ef9998c5.vsidx
.vs/Proyecto-Komalli-Codigo-Fuente/v17/.wsuo
.vs/Proyecto-Komalli-Codigo-Fuente/v17/DocumentLayout.backup.json
.vs/Proyecto-Komalli-Codigo-Fuente/v17/DocumentLayout.json
Komalli/Komalli/obj/Release/Komalli_MarkupCompile.lref
Komalli/Komalli/obj/Release/MainWindow.g.cs
Komalli/Komalli/obj/Release/Komalli_MarkupCompile.cache
Komalli/Komalli/obj/Release/Komalli.csproj.AssemblyReference.cache
Komalli/Komalli/obj/Release/App.g.cs
Komalli/Komalli/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Komalli/Komalli/obj/Debug/MainWindow.g.i.cs
Komalli/Komalli/obj/Debug/MainWindow.baml
Komalli/Komalli/obj/Debug/MainWindow.g.cs
Komalli/Komalli/obj/Debug/Komalli_MarkupCompile.lref
Komalli/Komalli/obj/Debug/Komalli_MarkupCompile.cache
Komalli/Komalli/obj/Debug/Komalli.pdb
Komalli/Komalli/obj/Debug/Komalli.g.resources
Komalli/Komalli/obj/Debug/Komalli.exe
Komalli/Komalli/obj/Debug/Komalli.csproj.GenerateResource.cache
Komalli/Komalli/obj/Debug/Komalli.csproj.FileListAbsolute.txt
Komalli/Komalli/obj/Debug/Komalli.csproj.CoreCompileInputs.cache
Komalli/Komalli/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Komalli/Komalli/obj/Debug/App.g.i.cs
Komalli/Komalli/obj/Debug/App.g.cs
Komalli/Komalli/obj/Debug/App.baml
Komalli/Komalli/bin/Debug/Komalli.pdb
Komalli/Komalli/bin/Debug/Komalli.exe
Komalli/.vs/Komalli/v17/DocumentLayout.json
Komalli/.vs/Komalli/v17/DocumentLayout.backup.json
Komalli/.vs/Komalli/v17/.suo
Komalli/.vs/Komalli/FileContentIndex/ec9df408-24cd-4573-834a-bba65d734a66.vsidx
Komalli/.vs/Komalli/FileContentIndex/8feec29e-8802-4cef-a466-d397b58fe205.vsidx
Komalli/.vs/Komalli/FileContentIndex/76bd8211-9994-4678-97ee-548ee1798d64.vsidx
Komalli/.vs/Komalli/FileContentIndex/30785e5c-72c2-41b6-8139-2801aaf68dd0.vsidx
Komalli/.vs/Komalli/FileContentIndex/16194ab9-a2da-4f39-ab49-ef4f6809f153.vsidx
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Proyecto-Komalli-Codigo-Fuente/v17/DocumentLayout.json
.vs/Proyecto-Komalli-Codigo-Fuente/v17/.wsuo
