
Komalli/.vs/Komalli/FileContentIndex/ea58d690-3b36-4432-b441-71d96acea2bc.vsidx
Komalli/.vs/Komalli/FileContentIndex/f2bed315-19de-41d3-a185-5a8925b46e29.vsidx
Komalli/.vs/Komalli/FileContentIndex/422b03cb-65a9-4378-8af0-d3c33f5c2253.vsidx
Komalli/ConsoleApp1/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Komalli/ConsoleApp1/obj/Release/ConsoleApp1.csproj.AssemblyReference.cache
Komalli/DataBaseLibrary/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Komalli/DataBaseLibrary/obj/Release/net8.0/DataBaseLibrary.AssemblyInfo.cs
Komalli/DataBaseLibrary/obj/Release/net8.0/DataBaseLibrary.assets.cache
Komalli/DataBaseLibrary/obj/Release/net8.0/DataBaseLibrary.AssemblyInfoInputs.cache
Komalli/DataBaseLibrary/obj/Release/net8.0/DataBaseLibrary.GeneratedMSBuildEditorConfig.editorconfig
Komalli/DataBaseLibrary/obj/Release/net8.0/DataBaseLibrary.GlobalUsings.g.cs
Komalli/PruebaDB/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Komalli/PruebaDB/obj/Release/PruebaDB.csproj.AssemblyReference.cache
Komalli/Komalli/App.config
Komalli/Komalli/obj/Release/App.g.cs
Komalli/Komalli/App.config
Komalli/.vs/Komalli/FileContentIndex/08b2d672-04d8-45b2-83d6-067863edf954.vsidx
Komalli/.vs/Komalli/FileContentIndex/4ac3460a-4add-4d7e-a6e1-4f1fc7604b24.vsidx
Komalli/.vs/Komalli/FileContentIndex/619f65d4-0fd6-489b-8db9-5ce4de2d97d0.vsidx
Komalli/.vs/Komalli/FileContentIndex/a1bd2a3d-506c-45d0-8ffe-6c194a510b0f.vsidx
Komalli/.vs/Komalli/FileContentIndex/a714aaac-4213-43a8-8119-e715ef69ce98.vsidx
Komalli/.vs/Komalli/FileContentIndex/b3e91453-19a0-49bd-bf1b-20e2e4857b9b.vsidx
Komalli/.vs/Komalli/FileContentIndex/bce38391-6326-469f-a677-7362af11c2d8.vsidx
Komalli/.vs/Komalli/FileContentIndex/c0eebec9-5133-4f6c-86d8-94de8c4a7135.vsidx
Komalli/.vs/Komalli/FileContentIndex/d2430197-bf80-44dd-993a-07d465550166.vsidx
Komalli/.vs/Komalli/FileContentIndex/e94dc607-c931-4e6b-8f33-f985acee0eb2.vsidx
Komalli/.vs/Komalli/FileContentIndex/f2b85e33-846d-48ee-b7f8-41f1f02f4c70.vsidx
Komalli/.vs/Komalli/v17/.suo
Komalli/.vs/Komalli/v17/DocumentLayout.backup.json
Komalli/.vs/Komalli/v17/DocumentLayout.json
Komalli/Komalli/bin/Debug/Komalli.exe
Komalli/Komalli/bin/Debug/Komalli.exe.config
Komalli/Komalli/bin/Debug/Komalli.pdb
Komalli/Komalli/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Komalli/Komalli/obj/Debug/GeneratedInternalTypeHelper.g.cs
Komalli/Komalli/obj/Debug/GUIs/LogIn.baml
Komalli/Komalli/obj/Debug/GUIs/ManagerLanding.baml
Komalli/Komalli/obj/Debug/GUIs/NavigationBar.baml
Komalli/Komalli/obj/Debug/Komalli.csproj.AssemblyReference.cache
Komalli/Komalli/obj/Debug/Komalli.csproj.CoreCompileInputs.cache
Komalli/Komalli/obj/Debug/Komalli.csproj.FileListAbsolute.txt
Komalli/Komalli/obj/Debug/Komalli.csproj.GenerateResource.cache
Komalli/Komalli/obj/Debug/Komalli.exe
Komalli/Komalli/obj/Debug/Komalli.pdb
Komalli/Komalli/obj/Debug/Komalli_MarkupCompile.cache
Komalli/Komalli/obj/Debug/MainWindow.baml
Komalli/.vs/Komalli/v17/.suo
Komalli/.vs/Komalli/v17/DocumentLayout.backup.json
Komalli/.vs/Komalli/v17/DocumentLayout.json
Komalli/Komalli/App.config
Komalli/Komalli/bin/Debug/Komalli.exe
Komalli/Komalli/bin/Debug/Komalli.pdb
Komalli/Komalli/bin/Debug/Komalli.exe.config
Komalli/Komalli/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Komalli/Komalli/obj/Debug/GeneratedInternalTypeHelper.g.cs
Komalli/Komalli/obj/Debug/Komalli.csproj.CoreCompileInputs.cache
Komalli/Komalli/obj/Debug/Komalli.csproj.AssemblyReference.cache
Komalli/Komalli/obj/Debug/Komalli.csproj.FileListAbsolute.txt
Komalli/Komalli/obj/Debug/Komalli.csproj.GenerateResource.cache
Komalli/Komalli/obj/Debug/Komalli.exe
Komalli/Komalli/obj/Debug/Komalli.pdb
Komalli/Komalli/obj/Debug/Komalli_MarkupCompile.cache
Komalli/.vs/Komalli/FileContentIndex/f2b85e33-846d-48ee-b7f8-41f1f02f4c70.vsidx
Komalli/.vs/Komalli/FileContentIndex/e94dc607-c931-4e6b-8f33-f985acee0eb2.vsidx
Komalli/.vs/Komalli/FileContentIndex/c0eebec9-5133-4f6c-86d8-94de8c4a7135.vsidx
Komalli/.vs/Komalli/FileContentIndex/bce38391-6326-469f-a677-7362af11c2d8.vsidx
Komalli/.vs/Komalli/FileContentIndex/a1bd2a3d-506c-45d0-8ffe-6c194a510b0f.vsidx
Komalli/.vs/Komalli/FileContentIndex/619f65d4-0fd6-489b-8db9-5ce4de2d97d0.vsidx
Komalli/.vs/Komalli/FileContentIndex/4ac3460a-4add-4d7e-a6e1-4f1fc7604b24.vsidx
Komalli/.vs/Komalli/FileContentIndex/08b2d672-04d8-45b2-83d6-067863edf954.vsidx
