
Komalli/.vs/Komalli/FileContentIndex/ea58d690-3b36-4432-b441-71d96acea2bc.vsidx
Komalli/.vs/Komalli/FileContentIndex/f2bed315-19de-41d3-a185-5a8925b46e29.vsidx
Komalli/.vs/Komalli/FileContentIndex/422b03cb-65a9-4378-8af0-d3c33f5c2253.vsidx
Komalli/ConsoleApp1/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Komalli/ConsoleApp1/obj/Release/ConsoleApp1.csproj.AssemblyReference.cache
Komalli/DataBaseLibrary/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Komalli/DataBaseLibrary/obj/Release/net8.0/DataBaseLibrary.AssemblyInfo.cs
Komalli/DataBaseLibrary/obj/Release/net8.0/DataBaseLibrary.assets.cache
Komalli/DataBaseLibrary/obj/Release/net8.0/DataBaseLibrary.AssemblyInfoInputs.cache
Komalli/DataBaseLibrary/obj/Release/net8.0/DataBaseLibrary.GeneratedMSBuildEditorConfig.editorconfig
Komalli/DataBaseLibrary/obj/Release/net8.0/DataBaseLibrary.GlobalUsings.g.cs
Komalli/PruebaDB/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Komalli/PruebaDB/obj/Release/PruebaDB.csproj.AssemblyReference.cache
Komalli/Komalli/App.config
